.calc{
    width: 400px;
    height: 600px;
    background: gray;
    margin-left: 400px;
}
#screen{
    width: 334px;
    height: 46px;
    margin-left: 28px;
    margin-top: 28px;
    pointer-events: none;
}
.btn{
    width: 61px;
    height: 5px;
    padding: 22px;
    margin-left: 22px;
    margin-top: 43px;
}

